
@{
    ViewData["Title"] = "DeleteTest";
}

@model Sports_Application.Models.Test

<h1>Confirm</h1>
<div>
    <p>Are you sure you want to delete this test?</p>
</div>
<a class="btn btn-danger" asp-controller="Test" asp-action="DeleteTest" asp-route-Id="@Model.Id">Yes</a>
<a class="btn btn-primary" asp-controller="Result" asp-action="ViewResult" asp-route-TestId="@Model.Id">No</a>




